body {
  padding-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

    background: radial-gradient(#94BCA5, #326C83) fixed;
    color: white;
}

body a {
  color: white;
  text-decoration: underline;
}

body a:hover {
  color: rgb(255, 255, 255, 0.66);
}

body {
  background-color: rgba(0, 0, 0, 0);
}

#jtron-head {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

#links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

#links-container a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 0;
  grid-column: span 2;
  color: white;

  border-radius: 16px;
  transition: background-color 0.33s ease-in-out;

  text-decoration: none;
}

#links-container a svg {
  margin-right: 8px;
}

/* Center dangling item in grid */
#links-container a:last-child:nth-child(2n - 1) {
  grid-column-end: 4;
}

#linkedin {
  background-color: rgb(40, 103, 178);
}

#linkedin:hover {
  background-color: rgb(40, 103, 178, 0.66);
}

#twitter {
  background-color: rgb(85, 172, 238);
}

#twitter:hover {
  background-color: rgb(85, 172, 238, 0.66);
}

#mastodon {
  background-color: rgb(86, 58, 204);
}

#mastodon:hover {
  background-color: rgb(86, 58, 204, 0.66);
}

#ghub {
  background-color: rgb(0, 0, 0);
}

#ghub:hover {
  background-color: rgb(0, 0, 0, 0.66);
}

#anilist {
  background-color: rgb(192, 99, 255);
}

#anilist:hover {
  background-color: rgb(192, 99, 255, 0.66);
}

#last-fm {
  background-color: rgb(185, 0, 0);
}

#last-fm:hover {
  background-color: rgb(185, 0, 0, 0.66);
}

#blog {
  background-color: rgb(3, 167, 52);
}

#blog:hover {
  background-color: rgb(3, 167, 52, 0.66);
}

@media only screen and (max-width: 480px) {
  body {
    padding-top: 20px;
  }

  #links-container {
    font-size: 18px;

    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .jumbotron p {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(#769684, #285668) fixed;
    background-color: black;
  }
}
