body {
  padding-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.navbar-nav {
  font-size: 14px;
}

p {
  font-size: 16px;
}

.blog-sidebar {
  padding: 8px;
  background-color: #eaeaea;
}

.blog-sidebar.btn {
  text-align: right;
}

.footer-addition {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #828282;
}

.footer-col-3 {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-col-3 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .blog-post-contents p {
    font-size: 18px;
  }
  .footer-heading {
    text-align: center;
  }
  .footer-col {
    text-align: center;
  }
}